asgiref==3.6.0
certifi @ file:///C:/ci_311/certifi_1676421629969/work/certifi
Django==4.1.7
django-filter==23.1
djangorestframework==3.14.0
Markdown==3.4.3
python-dotenv==1.0.0
pytz==2023.2
sqlparse==0.4.3
tzdata==2023.2
wincertstore==0.2
